
@{
    ViewData["Title"] = "Archive";
}

<br />
<h2>Archive</h2>
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Order#</th>
            <th scope="col">Date Requested</th>
            <th scope="col">Date Promised</th>
            <th scope="col">Company</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>29 June 2018</td>
            <td>18 July 2018</td>
            <td>Rocktill Co.</td>
            <td><a href="#">Details</a> | <a href="#">Restore</a> | <a href="#">Note</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>12 April 2018</td>
            <td>24 June 2018</td>
            <td>Smerk Inc.</td>
            <td><a href="#">Details</a> | <a href="#">Restore</a> | <a href="#">Note</a></td>
        </tr>
        <tr class="table-success">
            <th scope="row">3</th>
            <td>01 July 2018</td>
            <td>14 August 2018</td>
            <td>Limmer Systems</td>
            <td><a href="#">Details</a> | <a href="#">Restore</a> | <a href="#">Note</a></td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>29 June 2018</td>
            <td>18 July 2018</td>
            <td>Rocktill Co.</td>
            <td><a href="#">Details</a> | <a href="#">Restore</a> | <a href="#">Note</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>12 April 2018</td>
            <td>24 June 2018</td>
            <td>Smerk Inc.</td>
            <td><a href="#">Details</a> | <a href="#">Restore</a> | <a href="#">Note</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>01 July 2018</td>
            <td>14 August 2018</td>
            <td>Limmer Systems</td>
            <td><a href="#">Details</a> | <a href="#">Restore</a> | <a href="#">Note</a></td>
        </tr>
        <tr class="table-success">
            <th scope="row">2</th>
            <td>12 April 2018</td>
            <td>24 June 2018</td>
            <td>Smerk Inc.</td>
            <td><a href="#">Details</a> | <a href="#">Restore</a> | <a href="#">Note</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>01 July 2018</td>
            <td>14 August 2018</td>
            <td>Limmer Systems</td>
            <td><a href="#">Details</a> | <a href="#">Restore</a> | <a href="#">Note</a></td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>29 June 2018</td>
            <td>18 July 2018</td>
            <td>Rocktill Co.</td>
            <td><a href="#">Details</a> | <a href="#">Restore</a> | <a href="#">Note</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>12 April 2018</td>
            <td>24 June 2018</td>
            <td>Smerk Inc.</td>
            <td><a href="#">Details</a> | <a href="#">Restore</a> | <a href="#">Note</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>01 July 2018</td>
            <td>14 August 2018</td>
            <td>Limmer Systems</td>
            <td><a href="#">Details</a> | <a href="#">Restore</a> | <a href="#">Note</a></td>
        </tr>
    </tbody>
</table>
