@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-3">ProductManager</h1>
    <p class="lead">A simplistic way to track orders.</p>
    <hr class="my-4">
    <p>Want more customization?</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Contact</a>
    </p>
</div>